*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container{
    width: 400px;
    height: 400px;
    position: relative;
}
.img-container img{
    width: 100%;
}
.img-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.568);
}